<ion-header >

  <ion-navbar color="searchbg">
    <button ion-button menuToggle>
      <button class="button button-clear  ion-arrow-left-c  " ></button>
    </button>
    <ion-title>
      <span ion-text class="fw700">Category Details</span>
    </ion-title>
  </ion-navbar>


</ion-header>

<ion-content>

  <div>
      <img  src="{{destinationImg}}" style="width: 100%; height: 150px;">
      <div class="placeName">{{destinationName}}</div>
      <P class="sb">Starting budget</P>
      <p class="price">7000/</p>
      <p class="aftPrice">person</p>
  </div>

  <p class="bsp">BEST SELLING PACKAGES</p>

  <ion-slides pager class="cardBody1">
      <ion-slide *ngFor="let data of ListofPackage_byDest; let idx = index">
          <ion-card class="cardBody" (click)="goclick()">

              <ion-card-header class="cardHeader">
                <p style=" color: white; font-size: 14px;">{{data.pkgTitle}}<span>{{data.duration}}</span></p>
              </ion-card-header>

              <ion-card-content>
                  <div class="bxtxt">
                  <ion-icon ios="ios-heart" md="md-heart" style="float: right; margin-top: 10px;"></ion-icon>
                  <P>Starting budget</P>
                  <p><span>{{data.startingPrice}}</span>/person</p>
                  </div>


                  <ion-row>
                    <ion-col col-2 *ngIf="data.flight ==='yes'">
                      <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                          <ion-icon ios="ios-plane" md="md-plane" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>

                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Flight</p>
                  </ion-col>
                  <ion-col col-2 *ngIf="data.cab ==='yes'">
                      <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                        <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                        </div>
                        <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Cab</p>
                  </ion-col>
                  <ion-col col-2 *ngIf="data.hotel ==='yes'">
                      <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                        <ion-icon ios="ios-home" md="md-home"
                        style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                        </div>
                        <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">{{data.hotelRating}}</p>
                  </ion-col>
                  <ion-col col-2 *ngIf="data.meal ==='yes'">
                      <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                        <ion-icon ios="ios-pizza" md="md-pizza"
                        style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                        </div>
                        <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Meals</p>
                  </ion-col>
                  <ion-col col-2 *ngIf="data.sightSeeing ==='yes'">
                      <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                          <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                        </div>
                        <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Sight Seeing</p>
                  </ion-col>
                  <ion-col col-2 *ngIf="data.other ==='yes'">
                    <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                        <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Other</p>
                </ion-col>
                  </ion-row>

              </ion-card-content>

            </ion-card>
      </ion-slide>
    </ion-slides>



    <div style="background: #d6d6d6; height:5px; width:100%; margin-top:25px;"></div>

    <p class="bsp">USER REVIEW</p>

    <ion-card class="cardBody">

        <ion-card-content>

          <ion-row>
            <ion-col col-6><img src="assets/imgs/lake_como.png" style="height: 60px; border-radius: 50%; width: 60px; border: 2px solid #13b8b9;"></ion-col>
            <ion-col col-6>
                <div>
                  <P style="margin-left: 4px;">Loream Ipsum</P>
                    <ion-row style=" font-size: 6px;">
                      <ion-col col-1> <ion-icon ios="ios-pin" md="md-pin"></ion-icon></ion-col>
                      <ion-col col-5>Loream Ipsum</ion-col>
                      <ion-col col-1> <ion-icon ios="ios-pin" md="md-pin"></ion-icon></ion-col>
                      <ion-col col-5>20-08-19</ion-col>
                    </ion-row>
                    <img src="assets/imgs/rating.png" style="height: 10px; width: 50px; margin-left: 4px;">
                  </div>

            </ion-col>
          </ion-row>

          <p style="margin-left: 20px; font-size: 10px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <P style="color: red; float: right; margin-top: 5px;">read more..</P>

        </ion-card-content>

      </ion-card>

      <div style="background: #d6d6d6; height:5px; width:100%; margin-top:25px;"></div>

      <p class="bsp">HOW TO REACH</p>

      <div>
          <div style="height: 25px; border-radius: 50%; width: 25px; margin-left: 10px; background: #0b9595;">
              <ion-icon ios="ios-plane" md="md-plane" style="margin-left: 7px; margin-top: 4px;  color: white;"></ion-icon>
          </div>
          <p style="margin-top: -24px; margin-left: 40px; font-weight: bold;">By Air</p>

          <p style="font-size: 10px; margin-top: -10px; margin-left: 40px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      </div>

      <div>
          <div style="height: 25px; border-radius: 50%; width: 25px; margin-left: 10px; background: #0b9595;">
              <ion-icon ios="ios-car" md="md-car" style="margin-left: 7px; margin-top: 4px;  color: white;"></ion-icon>
          </div>
          <p style="margin-top: -24px; margin-left: 40px; font-weight: bold;">By Car</p>

          <p style="font-size: 10px; margin-top: -10px; margin-left: 40px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      </div>

      <div>
          <div style="height: 25px; border-radius: 50%; width: 25px; margin-left: 10px; background: #0b9595;">
              <ion-icon ios="ios-bus" md="md-bus" style="margin-left: 7px; margin-top: 4px;  color: white;"></ion-icon>
          </div>
          <p style="    margin-top: -24px; margin-left: 40px; font-weight: bold;">By Bus</p>

          <p style="font-size: 10px; margin-top: -10px; margin-left: 40px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      </div>


      <ion-row>
        <ion-col col-6>
          <button class="book">BOOK NOW</button>
        </ion-col>
        <ion-col col-6>
            <button class="customize" (click)="customize()">CUSTOMIZE</button>
        </ion-col>
      </ion-row>


</ion-content>
