page-category-package-details {

  .placeName
  {
      background: white;
      border-radius: 10px;
      position: absolute;
      top: 110px;
      width: 100px;
      left: 10px;
      height: 26px;
      text-align: center;
      padding-top: 4px;
      font-size: 15px;
      color: #0f5054;
      font-weight: bold;
  }
  ion-icon {
    display: inline-block;
    font-size: 2em;
}

  .sb
  {
      position: absolute;
      top: 100px;
      right: 20px;
      color: white;
      font-size: 12px;
  }
  .price
  {
      position: absolute;
      top: 115px;
      right: 64px;
      color: white;
      font-weight: bold;
  }
  .aftPrice
  {
      position: absolute;
      top: 118px;
      right: 24px;
      color: white;
      font-size: 12px;
  }
  .bsp
  {
      margin-left: 10px;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .cardBody
  {
      border-radius: 20px;
      height: auto;
      box-shadow: none;
      border: 1px solid #0b9595;
  }

  .cardBody1
  {
      height: 210px;
  }

  .cardHeader
  {
      background: #0b9595;
      padding: 8px 16px;
  }
  .bxtxt ion-icon.icon.icon-md.ion-md-heart:hover {
    color: #0b9595;
}

  .book
  {
      height: 50px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-image: linear-gradient(#0c959c, #02413f);
      color: white;
  }
  .customize
  {
      height: 50px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-image: linear-gradient(#0c959c, #02413f);
      color: white;
  }
  .cardHeader {
    p {
      text-align: left;
      span {
        float: right;
        color: #fff;
        font-size: 13px;
    }
  }
}
.bxtxt {
  p {
  text-align: left;
  font-size: 15px;
  span {
    font-size: 20px;
    color: #06cccc;
}
}
}
.rmd {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}
.lmd {
  margin-right: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}

.notFavBtn, .favBtn
{

    background: white;
    float: right;
    margin-top: 10px;
}

.favBtn
{
    color: #a00404;
    opacity: 1;
}

img.fabimg {
  height: auto;
  width: 100%;
}


}
