page-my-documents {
  .profiles{
    background-image: url("../assets/imgs/login-bg.png");
    background-repeat: no-repeat;
    background-size:cover;

  }
  .frmone{
    background: #EFF1F0 ;
    border-radius: 50px;
    width: 100%;
    font-size: 12;

  }
  ion-icon {
    display: inline-block;
    font-size: 2em;
}
  .ionrow{
    margin-top: 40px;
  }
  .ionbutton{

    display: table;
    margin: 0px auto;


  }

  .cardstyle{
    margin-top: 10px;
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    padding: 3px;
    margin: 7px 7px 7px 7px;
    background-color: #0e6262;
 }



 

}
