page-my-documents {
  .profiles{
    background-image: url("../assets/imgs/login-bg.png");
    background-repeat: no-repeat;
    background-size:cover;

  }
  .frmone{
    background: #EFF1F0 ;
    border-radius: 50px;
    width: 100%;
    font-size: 12;

  }
  .ionrow{
    margin-top: 40px;
  }
  .ionbutton{

    display: table;
    margin: 0px auto;
    

  }

}
