<ion-header >

    <ion-navbar color="searchbg">
      <button ion-button menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
        <ion-title>
          <span ion-text class="fw700">My Documents</span>
        </ion-title>
        <ion-buttons end>
          <button ion-button class="blinking_button" (click)="home()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
      </ion-buttons>
      </ion-navbar>


  </ion-header>

<ion-content class="profiles">
<div class="ionrow">

    <ion-row align-items-center >
        <ion-col>
            <div class="frmone">
                <ion-input type="text" placeholder="Type of Documents"  [(ngModel)]="name"></ion-input>
              </div>
        </ion-col>
        <ion-col>
            <button ion-button icon-left round color="searchbg" class="upload" (click)="uploadImage()">
                <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
                Choose File
              </button>
        </ion-col>
        </ion-row>
        <img *ngIf="img_status" src={{selectedImage}} style="height: 150px; width: 100%; text-align: center;">
        <div class="ionbutton">
        <button ion-button (click)="UploadDocuments()">Upload File</button>
      </div>
    </div>

    <div class="cardstyle" *ngFor="let data of allmyDoc">
      <ion-row>
          <ion-col col-10>
              <p style="margin-left: 10px;text-align: center;color: #fff;font-weight: 600;">{{data.docTitle}}</p>
          </ion-col>
          <ion-col col-2>
              <ion-icon ios="ios-download" md="md-download" (click)="download(data)"></ion-icon>
            </ion-col>
      </ion-row>

      <img src="{{data.docLink}}" style="width: 100%;height: 120px;border-radius: 7px 7px 7px 7px;">
   </div>



</ion-content>
