page-my-wish-list {

  .cardBody
  {
      border-radius: 20px;
      height: auto;
      box-shadow: none;
      border: 1px solid #0b9595;
  }
  ion-icon {
    display: inline-block;
    font-size: 2em;
}

  .cardHeader
  {
      background: #0b9595;
      padding: 8px 16px;
  }
  .bxtxt ion-icon.icon.icon-md.ion-md-heart:hover {
    color: #0b9595;
}
    .cardHeader {
      p {
        text-align: left;
        span {
          float: right;
          color: #fff;
          font-size: 13px;
      }
    }
    }
    .bxtxt {
    p {
    text-align: left;
    font-size: 15px;
    span {
      font-size: 20px;
      color: #06cccc;
    }
    }
  }
  ion-icon {
    display: inline-block;
    font-size: 2em;
}
.changedb{
  text-align: center;background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;
}

}
