<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Currency Converter</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content padding class="myview">


<div class="cl">

  <div class="dc">
    <ion-label>Currency Converter</ion-label>
  </div>


    <div class="sel">
        <ion-label>Currency I have</ion-label>
      <ion-item>
          <ion-select [(ngModel)]="set_default_currency">
            <ion-option *ngFor="let data of set_default_currency" [value]="data">{{data.name}}</ion-option>

          </ion-select>
        </ion-item>
  </div>
  <div class="sel">
    <ion-label>Currency I want</ion-label>
      <ion-item>
        <ion-select [(ngModel)]="selected_currency">
        <ion-option *ngFor="let data of currency" [value]="data">{{data.name}}</ion-option>
      </ion-select>
        </ion-item>
  </div>

 

</div>

<button class="login-btn" ion-button (click) = "save()">
    Save
  </button>


</ion-content>
