page-customize-package {
  .divstyle{
    background: transparent;
    text-align:center;
    height: 50px;
     width: 50px;
      border-radius: 5px;
      display: block;
       margin: auto;
  }
  ion-icon {
    display: inline-block;
    font-size: 2em;
}

.pdetails{
margin-top: -39px;
margin-left: 100px;
color: black;
}
.price{
margin-left: 15PX;
font-size: 16px;
margin-top: -10px;
color: #0aae99;
font-weight: bold;
}

}
