<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Own Properties</span>
      </ion-title>
      <ion-buttons end>
          <button ion-button class="blinking_button" (click)="home()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content padding>


    <ion-card class="abc">
      <div class="abc2">
          <span class="spanname">Pricing</span>
          <button  ion-button icon-left round color="light"  menuClose style="float: right;height: 25px">
              {{defaultvalue}}
            </button>



      </div>
      <div class="abc3">
        <ion-range min="1000" max="50000" step="500" snaps="true" ticks="false" [(ngModel)]="defaultvalue" (ionChange)="rangeChange($event)" color="searchbg">
            <ion-label range-left slot="start">1000</ion-label>
            <ion-label range-right slot="end">50000</ion-label>
          </ion-range>
          </div>
      </ion-card  >


        <ion-grid class="newcard">
            <ion-card *ngFor="let item of searchData;let idx = index" (click)="goHotelDetails(item)">
                <ion-card-content class="cardcontent">
            <ion-row align-items-start>
                <ion-col>
                    <img src="{{item.hotelImg}}" class="offerOutletImg">
                    <ionic3-star-rating
                    activeIcon = "ios-star"
                    defaultIcon = "ios-star-outline"
                    activeColor = "#ffbf01"
                    defaultColor = "red"
                    readonly="true"
                    [rating]=[item.hotelRating]>
                   </ionic3-star-rating>
                </ion-col>
                <ion-col>
                  <div class="firstDiv">
                    <div>
                        <button *ngIf="default_currency=='INR'" ion-button icon-left round color="light"  menuClose>
                            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                            &#8377;{{item.price}}
                          </button>
                          <button *ngIf="default_currency=='AUD'" ion-button icon-left round color="light"  menuClose>
                              <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                              A&#36;{{item.priceAUD}}
                            </button>
                            <button *ngIf="default_currency=='CHN'" ion-button icon-left round color="light"  menuClose>
                                <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                &#65509;{{item.priceCNH}}
                              </button>
                              <button *ngIf="default_currency=='CHF'" ion-button icon-left round color="light"  menuClose>
                                  <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                  Fr. {{item.priceCHF}}
                                </button>
                                <button *ngIf="default_currency=='CAD'" ion-button icon-left round color="light"  menuClose>
                                    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                    C&#36;{{item.priceCAD}}
                                  </button>
                                  <button *ngIf="default_currency=='GBP'" ion-button icon-left round color="light"  menuClose>
                                      <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                      &#163;{{item.priceGBP}}
                                    </button>
                                    <button *ngIf="default_currency=='JPY'" ion-button icon-left round color="light"  menuClose>
                                        <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                        &#165;{{item.priceJPY}}
                                      </button>
                                      <button *ngIf="default_currency=='EUR'" ion-button icon-left round color="light"  menuClose>
                                          <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                          &#8364;{{item.priceEUR}}
                                        </button>
                                        <button *ngIf="default_currency=='USD'" ion-button icon-left round color="light"  menuClose>
                                            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                            &#36;{{item.priceUSD}}
                                          </button>

                    </div>
                  <div>
                      <button ion-button icon-left round color="light"  menuClose>
                          <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
                          {{item.hotelAddress}}
                        </button>
                  </div>
                </div>
                <div class="secondDiv">
                    <p>{{item.details}}</p>

                  </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4 *ngFor="let tag of searchData[idx].amenities">
                  <div style="height: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;"><p style="font-size: 12px; padding-top: 5px; text-align: center; font-weight: bold;">{{tag}}</p></div>
                </ion-col>

              </ion-row>
              </ion-card-content>
              </ion-card>

        </ion-grid>


</ion-content>
