page-hotel-search {

  .range-md.range-has-pin {
    padding-top: 5px;
  }
  .spanname{
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
  }


.abc{
  margin: 0 14px;
  margin-top: 11px;
  border-radius: 2px;
  width: auto;
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}


.rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}

.outletPriceLevel{
  padding-right: 9px;
  padding-left: 10px;
  margin-right: 5px;
  background-color: #4caf50;
  border: 1px solid black;
  border-radius: 5px;

}
.newcard{
    margin: 0;
    border-radius: 2px;
    width: 100%;
    padding: 0px;
}
.cardcontent{
      padding: 0px;
      font-size: 1.4rem;
      line-height: 1.5;
}
.abc2{
  height: 40px;
}
.firstDiv {
  position: relative;
  clear: both;
  display: table;
  width: 100%;
}
.scroll-content{
  padding: 0 !important;
}
.button-round-md {
  border-radius: 4px;
  padding: 0;
}
.button-md {
  font-size: 11px;
  padding: 2px 8px;
}
.firstDiv {
  text-align: right;
}
.secondDiv p {
  text-align: right;
  font-size: 16px;
  text-transform: capitalize;
}
}
