page-package-details {

  ion-icon {
    display: inline-block;
    font-size: 2em;
}

  .cardBody
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 160px;
        border: 1px solid #0b9595;
    }

    .cardHeader
    {
        background: #0b9595;
        height: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .book{
      height: 50px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-image: linear-gradient(#0c959c, #02413f);
      color: white;
  }
  .customize
  {
      height: 50px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-image: linear-gradient(#0c959c, #02413f);
      color: white;
  }
    .cardBody
  {
      border-radius: 20px;
      height: 200px;
      box-shadow: none;
      border: 1px solid #0b9595;
      margin: 0 10px;
      img{
        border-radius: 20px 0px 0px 20px;
      }
  }
  .cardBody1{
    height: 200px;
    display: unset;
  }
  .ionic3-star-rating {
    width: 105%;
    margin-top: 5px;
}
.rmd {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}
.lmd {
  margin-right: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
.divstyle{
  background: transparent;
  text-align:center;
  height: 50px;
   width: 50px;
    border-radius: 5px;
    display: block;
     margin: auto;
}

.cardBody2
{
    height: 210px;
}
.price{
  margin-left: 15PX;
  font-size: 16px;
  margin-top: -10px;
  color: #0aae99;
  font-weight: bold;
}
.pdetails{
  margin-top: -39px;
  margin-left: 100px;
  color: black;
}
.bxtxt {
  p {
  text-align: left;
  font-size: 15px;
  span {
    font-size: 20px;
    color: #06cccc;
}
}
}
.bxtxt ion-icon.icon.icon-md.ion-md-heart:hover {
  color: #0b9595;
}

}
