<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Package Details</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content style="background: #ffffff">
      <img src="{{package_pkgImg}}" style="height: 140px; width: 100%;">
      <div style="background: white;width: 100%; bottom: 0px; border-top-left-radius: 15px; border-top-right-radius: 15px;">
          <ion-row style="margin-top: 10px;">
              <ion-col col-7>
                <p style="margin-left: 11px; font-weight: bold; font-size: 12px;">Spectacular Cochin Tour Package</p>
              </ion-col>
              <ion-col col-5>
                <div style="border: 1px solid #a61c1d; border-radius: 27px; height: 40px;">
                  <p style="color: #a61c1d; font-weight: bold; padding-top: -10x; margin-top: 11px; text-align: center; font-size: 15px;">{{package_duration}}</p>
                </div>
              </ion-col>
            </ion-row>

            <div style="margin-top: -15px;">
              <p style="margin-left: 17px; color: #615d5d;">Starting from</p>
              <p class="price" *ngIf="default_currency=='INR'">&#8377;{{package_startingPrice}}</p>
              <p class="price" *ngIf="default_currency=='USD'">&#36;{{startingpriceUSD}}</p>
              <p class="price" *ngIf="default_currency=='EUR'">&#8364;{{startingpriceEUR}}</p>
              <p class="price" *ngIf="default_currency=='JPY'">&#165;{{startingpriceJPY}}</p>
              <p class="price" *ngIf="default_currency=='GBP'">&#163;{{startingpriceGBP}}</p>
              <p class="price" *ngIf="default_currency=='CAD'">C&#36;{{startingpriceCAD}}</p>
              <p class="price" *ngIf="default_currency=='CHF'">Fr.{{startingpriceCHF}}</p>
              <p class="price" *ngIf="default_currency=='CNH'">&#65509;{{startingpriceCNH}}</p>
              <p class="price" *ngIf="default_currency=='AUD'">A&#36;{{startingpriceAUD}}</p>
              <p class="pdetails">per person no twin sharing</p>
            </div>

            <ion-row style="width: 90%; margin: auto;">
                <ion-col col-2 *ngIf="package_flight ==='yes'">
                    <div class="divstyle">
                      <ion-icon ios="ios-plane" md="md-plane" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>

                  </div>
                  <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Flight</p>
              </ion-col>
              <ion-col col-2 *ngIf="package_cab ==='yes'">
                  <div class="divstyle">
                    <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px;">Cab</p>
              </ion-col>
              <ion-col col-2 *ngIf="package_hotel ==='yes'">
                  <div class="divstyle">
                                        <ion-icon ios="ios-home" md="md-home"
                    style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px; ">{{package_hotelRating}}</p>
              </ion-col>
              <ion-col col-2 *ngIf="package_meal ==='yes'">
                  <div class="divstyle">
                                        <ion-icon ios="ios-pizza" md="md-pizza"
                    style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px;">Meals</p>
              </ion-col>
              <ion-col col-2 *ngIf="package_sightSeeing ==='yes'">
                  <div class="divstyle">
                                        <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Sight Seeing</p>
              </ion-col>
              <ion-col col-2 *ngIf="package_other ==='yes'">
                  <div class="divstyle">
                                      <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                  </div>
                  <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Other</p>
            </ion-col>
              </ion-row>

            <div style="background: #f6f6f6; height:100px; width:100%;">
              <p style="margin-left: 11px; padding-top: 10px; font-size: 20px;">OVERVIEW</p>
              <p style="margin-top: -10px; margin-left: 11px; margin-right: 11px;">{{package_overview}}</p>
              <p style="float: right; margin-top: 0px; margin-right: 10px; color: red;">read more...</p>
            </div>

            <p style="margin-left: 11px; font-size: 20px;">HOTELS</p>

            <div >
              <ion-slides pager class="cardBody1">
                <ion-slide *ngFor="let data of hotel_details; let idx = index">
              <ion-row class="cardBody">
                <ion-col col-6>
                  <img src="{{data.hotelImg}}" style="height: 100%; width: 100%; border-radius: 10px;">
                </ion-col>
                <ion-col col-6>
                  <p style="font-size: 20px; font-weight: bold; color: #42852a; margin-top: 5px;">{{data.day}}</p>
                  <p style="font-size: 20px; margin-top: -15px; color: #115a58;">{{data.hotelName}}</p>
                  <ionic3-star-rating
                  activeIcon = "ios-star"
                  defaultIcon = "ios-star-outline"
                  activeColor = "#ffbf01"
                  defaultColor = "red"
                  readonly="false"
                  [rating]=[data.hotelRating]>
                 </ionic3-star-rating>
                  <!-- <p>326 Reviews</p> -->
                  <p style="margin-top: 10px; ">{{data.details}}</p>
                  <!-- <p style="margin-top: -10px;">Restaurant</p> -->
                </ion-col>
              </ion-row>
              </ion-slide>
              </ion-slides>

              <!-- <p style="margin-top: 5px; margin-left: 11px; margin-right: 11px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->

            </div>

            <div style="background:#f6f6f6; margin-top: 60px;">
              <p style="margin-left: 11px; font-size: 20px;">ITINERARY</p>

              <div style="margin-left: 11px; margin-right:11px; background:#ffffff;" *ngFor="let data of itinerary_details; let idx = index">
                <div style="height: 30px; width:100%; background:#0d6262">
                <p style="color: white; padding-top: 6px; font-size: 16px; margin-left: 10px;">{{data.dayTitle}}</p>
                <!-- <ion-icon ios="ios-arrow-down" md="md-arrow-down" style="margin-right: 10px; float: right; margin-top: -32px;  color: white;"></ion-icon> -->
                </div>

                <ion-row>
                  <ion-col col-4 *ngFor="let tag of data.tag">
                    <div style="height: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;"><p style="font-size: 12px; padding-top: 5px; text-align: center; font-weight: bold;">{{tag}}</p></div>
                  </ion-col>

                </ion-row>

                <p style="margin-top: 5px; margin-left: 11px; margin-right: 11px;"[innerHTML]="data.content"></p>
              </div>

            </div>

            <div>
              <p style="margin-left: 11px; font-size: 20px;">SIMILAR PACKAGES</p>

              <ion-slides pager class="cardBody2">
                <ion-slide *ngFor="let data of similarPackage; let idx = index">
                    <ion-card class="cardBody" (click)="goclick(data.pkgId)">

                        <ion-card-header class="cardHeader">
                          <p style=" color: white; font-size: 14px;">{{data.pkgTitle}}<span>{{data.duration}}</span></p>
                        </ion-card-header>

                        <ion-card-content>
                             <div class="bxtxt">
                            <ion-icon ios="ios-heart" md="md-heart" style="float: right; margin-top: 10px;"></ion-icon>



                            <p>Starting Budget </p>
                                <p *ngIf="default_currency=='INR'"><span>&#8377;{{data.startingPrice}}</span>/Persion
                               </p>
                               <p *ngIf="default_currency=='USD'"> <span>&#36;{{data.priceUSD}}</span>/Persion
                                 </p>
                                <p *ngIf="default_currency=='EUR'"><span>&#8364;{{data.priceEUR}}</span>/Persion
                                   </p>
                                 <p *ngIf="default_currency=='JPY'"><span>&#165;{{data.priceJPY}}</span>/Persion
                                     </p>
                                  <p *ngIf="default_currency=='GBP'"><span>&#163;{{data.priceGBP}}</span>/Persion
                                       </p>
                                    <p *ngIf="default_currency=='AUD'"><span>A&#36;{{data.priceAUD}}</span>/Persion
                                         </p>
                                 <p *ngIf="default_currency=='CAD'"><span>C&#36;{{data.priceCAD}}</span>/Persion
                                           </p>
                                 <p *ngIf="default_currency=='CHF'"><span>Fr. {{data.priceCHF}}</span>/Persion
                                             </p>
                                    <p *ngIf="default_currency=='CNH'"> <span>&#65509;{{data.priceCNH}}</span>/Persion
                                               </p>




                            </div>


                            <ion-row>
                              <ion-col col-2 *ngIf="data.flight ==='yes'">
                                <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                    <ion-icon ios="ios-plane" md="md-plane" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>

                                </div>
                                <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Flight</p>
                            </ion-col>
                            <ion-col col-2 *ngIf="data.cab ==='yes'">
                                <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                  <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                                  </div>
                                  <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Cab</p>
                            </ion-col>
                            <ion-col col-2 *ngIf="data.hotel ==='yes'">
                                <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                  <ion-icon ios="ios-home" md="md-home"
                                  style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                                  </div>
                                  <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">{{data.hotelRating}}</p>
                            </ion-col>
                            <ion-col col-2 *ngIf="data.meal ==='yes'">
                                <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                  <ion-icon ios="ios-pizza" md="md-pizza"
                                  style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                                  </div>
                                  <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Meals</p>
                            </ion-col>
                            <ion-col col-2 *ngIf="data.sightSeeing ==='yes'">
                                <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                    <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                                  </div>
                                  <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Sight Seeing</p>
                            </ion-col>
                            <ion-col col-2 *ngIf="data.other ==='yes'">
                              <div style="background: transparent; height: 50px; width: 50px; border-radius: 5px; display: block; margin: auto;">
                                  <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                                </div>
                                <p style="font-size: 11px; text-align: center; margin-top: 2px; margin-left: 5px">Other</p>
                          </ion-col>
                            </ion-row>

                        </ion-card-content>

                      </ion-card>
                </ion-slide>
              </ion-slides>



            </div>

      </div>
</ion-content>



<ion-footer style="height: 50px; background: #ffffff00; display: block;">
    <ion-row>
      <ion-col col-6 class="rmd">
        <button ion-button full  class="book" (click)="book()">BOOK NOW</button>
      </ion-col>
      <ion-col col-6 class="lmd">
          <button  ion-button full  class="customize" (click)="customize()">CUSTOMIZE</button>
      </ion-col>
    </ion-row>
  </ion-footer>
