<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Own Properties</span>
      </ion-title>
      <ion-buttons end>
          <button ion-button class="blinking_button" (click)="home()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content padding>

        <ion-grid class="newcard">
            <ion-card>
                <ion-card-content class="cardcontent">
            <ion-row align-items-start>
                <ion-col>
                    <img src="{{searchData.hotelImg}}" class="offerOutletImg">
                    <ionic3-star-rating
                    activeIcon = "ios-star"
                    defaultIcon = "ios-star-outline"
                    activeColor = "#ffbf01"
                    defaultColor = "red"
                    readonly="false"
                    [rating]=[searchData.hotelRating]>
                   </ionic3-star-rating>
                </ion-col>
                <ion-col>
                  <div class="firstDiv">
                    <div>
                        <button *ngIf="default_currency=='INR'" ion-button icon-left round color="light"  menuClose>
                            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                            &#8377;{{searchData.price}}
                          </button>
                          <button *ngIf="default_currency=='AUD'" ion-button icon-left round color="light"  menuClose>
                              <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                              A&#36;{{searchData.priceAUD}}
                            </button>
                            <button *ngIf="default_currency=='CHN'" ion-button icon-left round color="light"  menuClose>
                                <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                &#65509;{{searchData.priceCNH}}
                              </button>
                              <button *ngIf="default_currency=='CHF'" ion-button icon-left round color="light"  menuClose>
                                  <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                  Fr. {{searchData.priceCHF}}
                                </button>
                                <button *ngIf="default_currency=='CAD'" ion-button icon-left round color="light"  menuClose>
                                    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                    C&#36;{{searchData.priceCAD}}
                                  </button>
                                  <button *ngIf="default_currency=='GBP'" ion-button icon-left round color="light"  menuClose>
                                      <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                      &#163;{{searchData.priceGBP}}
                                    </button>
                                    <button *ngIf="default_currency=='JPY'" ion-button icon-left round color="light"  menuClose>
                                        <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                        &#165;{{searchData.priceJPY}}
                                      </button>
                                      <button *ngIf="default_currency=='EUR'" ion-button icon-left round color="light"  menuClose>
                                          <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                          &#8364;{{searchData.priceEUR}}
                                        </button>
                                        <button *ngIf="default_currency=='USD'" ion-button icon-left round color="light"  menuClose>
                                            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>
                                            &#36;{{searchData.priceUSD}}
                                          </button>

                    </div>
                  <div>
                      <button ion-button icon-left round color="light"  menuClose>
                          <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
                          {{searchData.hotelAddress}}
                        </button>
                  </div>
                </div>
                <div class="secondDiv">
                    <p>{{searchData.details}}</p>

                  </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4 *ngFor="let tag of searchData.amenities">
                  <div style="height: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;"><p style="font-size: 12px; padding-top: 5px; text-align: center; font-weight: bold;">{{tag}}</p></div>
                </ion-col>

              </ion-row>
              </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-item>
                  <ion-label>Check In</ion-label>
                  <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="checkIn"></ion-datetime>
                </ion-item>
                <ion-item>
                  <ion-label>Check Out</ion-label>
                  <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="checkOut"></ion-datetime>
                </ion-item>
                <div class="row">
                  <div class="col text-center">
                <button class="login-btn" ion-button (click) = "checkAvail()">
                  Check Availability
                </button>
              </div>
            </div>
              </ion-card>

        </ion-grid>

        <ion-scroll style="width:100%;height:100%;" scrollY="true">
          <div >
          <ion-row style="background: white; margin-top: 2px;margin-bottom:2px;" *ngFor="let item of hotelsearchResult">


                  <ion-card class="cardBody">
                      <ion-card-content>
                          <ion-row>
                        <ion-col col-8>
                          <ion-row style="font-size:14px; color: #056387;">
                              <ion-col>Room Type: {{item.roomType}}</ion-col>
                          </ion-row>
                            <ion-row style="font-size:14px; color: #056387;">
                                <ion-col col-3>Price</ion-col>
                                <ion-col col-1>:</ion-col>
                                <ion-col col-4>{{item.price}}</ion-col>
                              </ion-row>
                        </ion-col>
                        <ion-col col-4>
                          <div class="col text-center">
                          <button  class="btn"  ion-button (click)="bookhotel(item)">Book Now</button>
                        </div>
                        </ion-col>
                        </ion-row>



                      </ion-card-content>

                    </ion-card>

          </ion-row>
          </div>
        </ion-scroll>


</ion-content>
