<ion-header >

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
        <button class="button button-clear  ion-arrow-left-c  " ></button>
      </button>
      <ion-title>
        <span ion-text class="fw700">PACKAGE FILTER</span>
      </ion-title>
      <ion-buttons end>
          <button ion-button class="blinking_button" (click)="home()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>


</ion-header>

<ion-content>

  <div class="margin">
    <ion-row>
      <ion-col col-12>
        <ion-label class="font">Price(Per Person)</ion-label>
      </ion-col>
    </ion-row>

    <div class="middle">
      <ion-row >
        <ion-col col-6 *ngFor="let item of price; let i=index">

          <ion-item *ngIf="default_currency=='USD'">
              <ion-label>&#36;{{item.priceUSD}}</ion-label>
              <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="default_currency=='INR'">
                <ion-label>&#8377;{{item.budget}}</ion-label>
                <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
              </ion-item>
              <ion-item *ngIf="default_currency=='EUR'">
                  <ion-label>&#8364;{{item.priceEUR}}</ion-label>
                  <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                </ion-item>
                <ion-item *ngIf="default_currency=='JPY'">
                    <ion-label>&#165;{{item.priceJPY}}</ion-label>
                    <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                  </ion-item>
                  <ion-item *ngIf="default_currency=='GBP'">
                      <ion-label>&#163;{{item.priceGBP}}</ion-label>
                      <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                    </ion-item>
                    <ion-item *ngIf="default_currency=='AUD'">
                        <ion-label>A&#36;{{item.priceAUD}}</ion-label>
                        <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                      </ion-item>
                      <ion-item *ngIf="default_currency=='CAD'">
                          <ion-label>C&#36;{{item.priceCAD}}</ion-label>
                          <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                        </ion-item>
                        <ion-item *ngIf="default_currency=='CHF'">
                            <ion-label>Fr.{{item.priceCHF}}</ion-label>
                            <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                          </ion-item>
                          <ion-item *ngIf="default_currency=='CNH'">
                              <ion-label>&#65509;{{item.priceCNH}}</ion-label>
                              <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.budget)" ></ion-checkbox>
                            </ion-item>
        </ion-col>
      </ion-row>
    </div>


  <ion-row>
      <ion-col col-12>
        <ion-label class="font">Duration(Days)</ion-label>
      </ion-col>
    </ion-row>
    <div class="middle">
      <ion-row>
        <ion-col col-6 *ngFor="let item of duration; let i=index">
          <ion-item>
              <ion-label>{{item.val}}</ion-label>
              <ion-checkbox   [checked]="item.isChecked" (ionChange)="durationsType($event,item.id,item.val)" ></ion-checkbox>
            </ion-item>
        </ion-col>
 </ion-row>

    </div>
    <ion-row>
      <ion-col col-12>
        <ion-label class="font">Activities</ion-label>
      </ion-col>
    </ion-row>
    <div class="middle">
      <ion-row>
        <ion-col col-6 *ngFor="let item of activities; let i=index">
            <ion-item>
                <ion-label>{{item.val}}</ion-label>
                <ion-checkbox   [checked]="item.isChecked" (ionChange)="activitiesType($event,item.id,item.val)" ></ion-checkbox>
              </ion-item>
        </ion-col>

      </ion-row>
    </div>
    <ion-row>
      <ion-col col-12>
        <ion-label class="font">Month of travel</ion-label>
      </ion-col>
    </ion-row>
    <div class="middle">

      <ion-row>
        <ion-col col-6 *ngFor="let item of months; let i=index">
            <ion-item>
                <ion-label>{{item.val}}</ion-label>
                <ion-checkbox   [checked]="item.isChecked" (ionChange)="monthsType($event,item.id,item.val)" ></ion-checkbox>
              </ion-item>
        </ion-col>
      </ion-row>

    </div>
  </div>
  <div class="btn">
    <button (click)="fetchBotton()">Apply Filter</button>
  </div>
</ion-content>

