<ion-header >

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
        <button class="button button-clear  ion-arrow-left-c  " ></button>
      </button>
      <ion-title>
        <span ion-text class="fw700">PACKAGE FILTER</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content>

  <div class="margin">
    <ion-row>
      <ion-col col-11>
        <ion-label class="font">Price(Per Person)</ion-label>
      </ion-col>
      <ion-col col-1>
        <img src="../../assets/imgs/refresh.png" class="imgs" (click)="refreshPage1()">
      </ion-col>
    </ion-row>

    <div class="middle">
      <ion-row >
        <ion-col col-6 *ngFor="let item of price; let i=index">
          <ion-item>
              <ion-label>{{item.val}}</ion-label>
              <ion-checkbox   [checked]="item.isChecked" (ionChange)="pricingType($event,item.id,item.val)" ></ion-checkbox>
            </ion-item>
        </ion-col>
      </ion-row>
    </div>


  <ion-row>
      <ion-col col-11>
        <ion-label class="font">Duration(Days)</ion-label>
      </ion-col>
      <ion-col col-1>
        <img src="../../assets/imgs/refresh.png" (click)="refreshPage2()" class="imgs">
      </ion-col>
    </ion-row>
    <div class="middle">
      <ion-row>
        <ion-col col-6 *ngFor="let item of duration; let i=index">
          <ion-item>
              <ion-label>{{item.val}}</ion-label>
              <ion-checkbox   [checked]="item.isChecked" (ionChange)="durationsType($event,item.id,item.val)" ></ion-checkbox>
            </ion-item>
        </ion-col>
 </ion-row>

    </div>
    <ion-row>
      <ion-col col-11>
        <ion-label class="font">Activities</ion-label>
      </ion-col>
      <ion-col col-1>
        <img src="../../assets/imgs/refresh.png" (click)="refreshPage3()" class="imgs">
      </ion-col>
    </ion-row>
    <div class="middle">
      <ion-row>
        <ion-col col-6 *ngFor="let item of activities; let i=index">
            <ion-item>
                <ion-label>{{item.val}}</ion-label>
                <ion-checkbox   [checked]="item.isChecked" (ionChange)="activitiesType($event,item.id,item.val)" ></ion-checkbox>
              </ion-item>
        </ion-col>

      </ion-row>
    </div>
    <ion-row>
      <ion-col col-11>
        <ion-label class="font">Month of travel</ion-label>
      </ion-col>
      <ion-col col-1>
        <img src="../../assets/imgs/refresh.png"(click)="refreshPage4()" class="imgs">
      </ion-col>
    </ion-row>
    <div class="middle">

      <ion-row>
        <ion-col col-6 *ngFor="let item of months; let i=index">
            <ion-item>
                <ion-label>{{item.val}}</ion-label>
                <ion-checkbox   [checked]="item.isChecked" (ionChange)="monthsType($event,item.id,item.val)" ></ion-checkbox>
              </ion-item>
        </ion-col>
      </ion-row>

    </div>
  </div>
  <div class="btn">
    <button (click)="fetchBotton()">Apply Filter</button>
  </div>
</ion-content>

