page-home {

  .tabs-ios[tabsPlacement=top] .tabbar {
    border-top: 0;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px;
}
.tabs-md .tabbar {
    background: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
}

.blinking_button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  -webkit-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
  0% { background-color: #0E6262; -webkit-box-shadow: 0 0 3px #0E6262; }
  50% { background-color: #0E6262; -webkit-box-shadow: 0 0 40px #0E6262; }
  100% { background-color: #0E6262; -webkit-box-shadow: 0 0 3px #0E6262; }
  }

  @-moz-keyframes glowing {
  0% { background-color: #0E6262; -moz-box-shadow: 0 0 3px #0E6262; }
  50% { background-color: #0E6262; -moz-box-shadow: 0 0 40px #0E6262; }
  100% { background-color: #0E6262; -moz-box-shadow: 0 0 3px #0E6262; }
  }

  @-o-keyframes glowing {
  0% { background-color: #0E6262; box-shadow: 0 0 3px #0E6262; }
  50% { background-color: #0E6262; box-shadow: 0 0 40px #0E6262; }
  100% { background-color: #0E6262; box-shadow: 0 0 3px #0E6262; }
  }

  @keyframes glowing {
  0% { background-color: #0E6262; box-shadow: 0 0 3px #0E6262; }
  50% { background-color: #0E6262; box-shadow: 0 0 40px #0E6262; }
  100% { background-color: #0E6262; box-shadow: 0 0 3px #0E6262; }
  }
  .blink_img
  {
  height: 20px;
  width: 20px;
  }


  .topImg
    {
        height: 200px;
        width: 100%;
    }

    .searchDiv1
    {
        top: 140px;
        height: 25px;
        width: 100%;
    }

    .searchDiv2
    {
        width: 80%;
        display: block;
        margin: auto;
    }
    .col10
    {
        background: #ffffffba;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    .col2
    {
        background:dimgray;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    .ionIcon
    {
        color: white;
        align-content: center;
        display: table;
        margin: 2px auto;
    }
    .ionSearchbar{
        height: 20px;
        padding: -14px;
        margin-top: -10px;
        margin-left: 8px;
        height: 20px;
    }
    .ionInput
    {
        height: 20px;
        padding: -14px;
        margin-top: -10px;
        margin-left: 8px;
        height: 20px;
    }
    .searchDiv1 {
      position: absolute;
      display: table;
  }
  .homebnr{
    position: relative;
  }
    .expDiv
    {
        background: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: 186px;
        width: 100%;
    }
    .expiDiv
    {
        background: #0e6262;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: -8px;
        height: 30px;
        border-radius: 20px;
        color: white;
        font-size: 18px;
    }

    .segment-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .segment-ios {
        .segment-button {
            height: 3.6rem;
        }
    }

    .segment-ios-light {
        .segment-button {
            &.segment-activated {
                color: color($colors, searchbg);
            }
        }
    }

  .fabbtn button.funcbtn.fab {
    background-color: #0e6262 !important;
    right: -11px !important;
    border-radius: 25px 0 0 25px !important;
}
.fabbtn{
  bottom: 60px;
}
.fabbtn .fab {
  font-size: 35px;
}

button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      font-size: 10px;
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
  contain: layout;
}
.carp p{
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.mdlsecscrl .mdlsec-ext {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
}
.mdlsecscrl{
  position: relative;
  background-color: #000;
  margin-bottom: 65px;
}
.mdlsecimg{
  opacity: .3;
}
p.boxpsec {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.box-img-sec.card.card-md {
  width: 150px;
  border-radius: 10px;
}
.inner-txts h4 {
  color: #000;
  text-align: left;
  font-weight: 500;
}
.inner-txts p {
  text-align: left;
  font-size: 15px;
}
.inner-txts {
  padding: 7px 5px;
}
.inner-txts p span {
  color: #f21111;
  font-size: 18px;
  margin-left: 7px;
  font-weight: 700;
}



.item-md.item-block .item-inner {
  padding-right: 0px;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
}
img {
  height: 100px;
  width: 100%;
}


img.fabimg {
  height: auto;
  width: 100%;
}
}
