<ion-header >

    <ion-navbar color="searchbg">
        <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <ion-title>
          <span ion-text class="fw700">TCommunique</span>
        </ion-title>

        <ion-buttons end>
            <button ion-button class="blinking_button" >
                <img src="assets/imgs/notify_icon.png" class="blink_img">
            </button>
        </ion-buttons>
         <ion-buttons end>
          <button ion-button class="blinking_button" (click)="go_converter()">
            <img src="assets/imgs/menu_icon.png" class="blink_img">
        </button>
        </ion-buttons>


      </ion-navbar>

      <ion-segment [(ngModel)]="icons" color="searchbg">
        <ion-segment-button value="INTERNATIONAL" class="segment-button segment-activated">INTERNATIONAL

        </ion-segment-button>
        <ion-segment-button value="DOMESTIC">DOMESTIC

        </ion-segment-button>
      </ion-segment>


  </ion-header>



  <ion-content>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

          <!--This is INTERNATIONAL Section-->

      <div [ngSwitch]="icons">
          <ion-list *ngSwitchCase="'INTERNATIONAL'" ngSelected="selected">

              <div>

                  <img src="{{internationalImg}}" class="topImg">

                  <div class="searchDiv1">
                     <div class="searchDiv2">
                        <ion-row style="height: 30px;">
                            <ion-col col-9 class="col10">
                              <ion-input  placeholder="search here..." class="ionInput" [(ngModel)]="searchTerm"></ion-input>
                            </ion-col>
                            <ion-col col-3 class="col2" (click)="search('International')">
                              <ion-icon ios="ios-search" md="md-search" class="ionIcon" ></ion-icon>
                            </ion-col>
                          </ion-row>
                     </div>

                      <!-- <ion-list *ngIf="searchTerm">
                        <ion-item *ngFor="let item of items; let pos=index" (click)="getSearchitem(item,type[pos])">
                            {{item+' in '+type[pos]}}
                        </ion-item>
                    </ion-list> -->
                  </div>

                  <!--change-->

                  <div class ="expDiv" >

                      <div class="expiDiv">
                        <p style="text-align: center; padding-top: 4px;">Experiences People Love</p>
                      </div>

                      <ion-scroll scrollX="true" style="width:100%; height:150px; margin-top: 10px;" >
                        <ion-row nowrap>
                          <div *ngFor="let category_inter of categorydet_inter; let idx = index" >
                              <ion-card style="width: 150px; border-radius: 10px;" (click)="go(category_inter)">
                                  <ion-card-content style="padding: 0px 0px;">
                                      <img src="{{category_inter.catImg}}" style="width: 150px; height: 80px;">
                                      <div>
                                         <p style="color: #000000; height: 30px; text-align: center; padding-top: 6px; height: 30px;">{{category_inter.catName}}</p>
                                      </div>
                                  </ion-card-content>
                                </ion-card>
                          </div>
                        </ion-row>
                      </ion-scroll>
                    </div>



                  <div class="mdlsecscrl" *ngIf="trendingDest_international">
                      <img class="mdlsecimg" src="assets/imgs/lake_como.png" alt="#" style="width: 100%; height: 219px;">
                      <div class="mdlsec-ext">
                        <p class=boxpsec>TRENDING DESTINATION</p>


                      <ion-scroll scrollX="true" style="width:100%; height:180px; margin-top: 40px;" >
                        <ion-row nowrap>
                          <div *ngFor="let data of trendingDest_international; let idx = index" class="occ" >
                              <ion-card class="box-img-sec" (click)="trending_inter_click(data)">
                                  <ion-card-content style="padding: 0px 0px;">
                                      <img src="{{data.destinationImg}}">
                                      <div class="inner-txts">
                                          <h4>{{data.destinationName}}</h4>
                                          <p>Starting
                                              <span class="price" *ngIf="default_currency=='INR'">&#8377;{{data.startingPrice}}</span>
                                              <span class="price" *ngIf="default_currency=='USD'">&#36;{{data.priceUSD}}</span>
                                                <span class="price" *ngIf="default_currency=='EUR'">&#8364;{{data.priceEUR}}</span>
                                                  <span class="price" *ngIf="default_currency=='JPY'">&#165;{{data.priceJPY}}</span>
                                                    <span class="price" *ngIf="default_currency=='GBP'">&#163;{{data.priceGBP}}</span>
                                                      <span class="price" *ngIf="default_currency=='CAD'">C&#36;{{data.priceCAD}}</span>
                                                        <span class="price" *ngIf="default_currency=='CHF'">Fr.{{data.priceCHF}}</span>
                                                          <span class="price" *ngIf="default_currency=='CNH'">&#65509;{{data.priceCNH}}</span>
                                                            <span class="price" *ngIf="default_currency=='AUD'">A&#36;{{data.priceAUD}}</span>

                                          </p>
                                       </div>
                                  </ion-card-content>
                                </ion-card>
                          </div>
                        </ion-row>
                      </ion-scroll>
                    </div>
                    </div>

                    <!--change-->
                    <div *ngFor="let dest_inter of  destination_inter">

                        <div class="expiDiv">
                          <p style="text-align: center; padding-top: 3px;">Top {{dest_inter.catName}} Destinations</p>
                        </div>

                        <ion-scroll scrollX="true" style="width:100%; height:130px; margin-top: 10px;" >
                          <ion-row nowrap>
                            <div *ngFor="let data of dest_inter.destination; let idx = index" >
                                <ion-card style="width: 150px; border-radius: 10px;" (click)="go_package_det(dest_inter.catId,data.destId)">
                                    <ion-card-content style="padding: 0px 0px;">
                                        <img src="{{data.destinationImg}}" style="width: 150px; height: 80px;">
                                        <div>
                                           <p style="color: #000000; height: 30px; text-align: center; padding-top: 4px;">{{data.destinationName}}</p>
                                        </div>
                                    </ion-card-content>
                                  </ion-card>
                            </div>
                          </ion-row>
                        </ion-scroll>
                      </div>

                    </div>
            </ion-list>
      </div>



      <!--This is DOMESTIC Section-->
      <div [ngSwitch]="icons">
          <ion-list *ngSwitchCase="'DOMESTIC'">

              <div>
                <div class="homebnr">
                  <img src="{{domesticImg}}" class="topImg">

                  <div class="searchDiv1">
                     <div class="searchDiv2">
                      <ion-row style="height: 30px;">
                        <ion-col col-9 class="col10">
                          <ion-input  placeholder="search here..." class="ionInput" [(ngModel)]="searchTerm"></ion-input>
                        </ion-col>
                        <ion-col col-3 class="col2" (click)="search('Domestic')">
                          <ion-icon ios="ios-search" md="md-search" class="ionIcon" ></ion-icon>
                        </ion-col>
                      </ion-row>
                     </div>
                  </div>
                </div>

                  <div class ="expDiv" >

                    <div class="expiDiv">
                      <p style="text-align: center; padding-top: 4px;">Experiences People Love</p>
                    </div>

                    <ion-scroll scrollX="true" style="width:100%; height:150px; margin-top: 10px;" >
                      <ion-row nowrap>
                        <div *ngFor="let category_dom of categorydet_domestic; let idx = index" >
                            <ion-card style="width: 150px; border-radius: 10px;" (click)="go(category_dom)">
                                <ion-card-content style="padding: 0px 0px;">
                                    <img src="{{category_dom.catImg}}" style="width: 150px; height: 80px;">
                                    <div>
                                       <p style="color: #000000; height: 30px; text-align: center; padding-top: 6px; height: 30px;">{{category_dom.catName}}</p>
                                    </div>
                                </ion-card-content>
                              </ion-card>
                        </div>
                      </ion-row>
                    </ion-scroll>
                  </div>

                  <!--change-->
                  <div class="mdlsecscrl" *ngIf="trendingDest_domestic">
                      <img class="mdlsecimg" src="assets/imgs/lake_como.png" alt="#" style="width: 100%; height: 219px;">
                      <div class="mdlsec-ext">
                        <p class=boxpsec>TRENDING DESTINATION</p>


                      <ion-scroll scrollX="true" style="width:100%; height:180px; margin-top: 40px;" >
                        <ion-row nowrap>
                          <div *ngFor="let data of trendingDest_domestic; let idx = index" class="occ" >
                              <ion-card class="box-img-sec" (click)="trending_domestic_click(data)">
                                  <ion-card-content style="padding: 0px 0px;">
                                      <img src="{{data.destinationImg}}">
                                      <div class="inner-txts">
                                          <h4>{{data.destinationName}}</h4>
                                          <p>Starting
                                              <span class="price" *ngIf="default_currency=='INR'">&#8377;{{data.startingPrice}}</span>
                                                <span class="price" *ngIf="default_currency=='USD'">&#36;{{data.priceUSD}}</span>
                                                  <span class="price" *ngIf="default_currency=='EUR'">&#8364;{{data.priceEUR}}</span>
                                                    <span class="price" *ngIf="default_currency=='JPY'">&#165;{{data.priceJPY}}</span>
                                                      <span class="price" *ngIf="default_currency=='GBP'">&#163;{{data.priceGBP}}</span>
                                                        <span class="price" *ngIf="default_currency=='CAD'">C&#36;{{data.priceCAD}}</span>
                                                          <span class="price" *ngIf="default_currency=='CHF'">Fr.{{data.priceCHF}}</span>
                                                            <span class="price" *ngIf="default_currency=='CNH'">&#65509;{{data.priceCNH}}</span>
                                                              <span class="price" *ngIf="default_currency=='AUD'">A&#36;{{data.priceAUD}}</span>
                                          </p>
                                       </div>
                                  </ion-card-content>
                                </ion-card>
                          </div>
                        </ion-row>
                      </ion-scroll>
                    </div>
                    </div>


                  <div *ngFor="let dest_domestic of destination_domestic">

                      <div class="expiDiv">
                        <p style="text-align: center; padding-top: 3px;">Top {{dest_domestic.catName}} Destinations</p>
                      </div>

                      <ion-scroll scrollX="true" style="width:100%; height:130px; margin-top: 10px;" >
                        <ion-row nowrap>
                          <div *ngFor="let data of dest_domestic.destination; let idx = index" >
                              <ion-card style="width: 150px; border-radius: 10px;" (click)="go_package_det(dest_domestic.catId,data.destId)">
                                  <ion-card-content style="padding: 0px 0px;">
                                      <img src="{{data.destinationImg}}" style="width: 150px; height: 80px;">
                                      <div>
                                         <p style="color: #000000; height: 30px; text-align: center; padding-top: 4px;">{{data.destinationName}}</p>
                                      </div>
                                  </ion-card-content>
                                </ion-card>
                          </div>
                        </ion-row>
                      </ion-scroll>
                    </div>


                    </div>

            </ion-list>
            </div>











      </ion-content>

      <ion-fab right bottom class="fabbtn">
          <button ion-fab class="funcbtn"><ion-icon ios="ios-chatbubbles" md="md-chatbubbles" (click)="onClickChat()"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab>  <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon></button>
            <button ion-fab (click)="callNumber_ph1()"><ion-icon ios="ios-call" md="md-call"></ion-icon><ion-label>Agent 1</ion-label></button>
            <button ion-fab (click)="callNumber_ph2()"><ion-icon ios="ios-call" md="md-call"></ion-icon><ion-label>Agent 2</ion-label></button>
            <button ion-fab (click)="callNumber_ph3()"><ion-icon ios="ios-call" md="md-call"></ion-icon><ion-label>Agent 3</ion-label></button>
            <button ion-fab (click)="callNumber_ph4()"><ion-icon ios="ios-call" md="md-call"></ion-icon><ion-label>Agent 4</ion-label></button>

            <button ion-fab><ion-icon ios="ios-videocam" md="md-videocam" (click)="VideoCall()"></ion-icon></button>
          </ion-fab-list>
      </ion-fab>
      <ion-footer style="height: 50px; background: #ffffff00; display: block;">


          <button ion-button full  style="height: 50px; background: #0e6262; color: white;" (click)="plan_my_holiday()">
            <p style="text-align: center;">PLAN MY HOLIDAY</p>
          </button>
      </ion-footer>



