.brown-theme {
  ion-content {
    // background-color: #75351a;
    color: black;
  }

  .toolbar-title {
    color: #75351a;
  }

  .header .toolbar-background {
    border-color: #75351a;
    background-color: #75351a;
  }


}


