.dark-theme {
  ion-content {
    // background-color: #050505;
    color: chocolate;
  }

  .toolbar-title {
    color: chocolate;
  }

  .header .toolbar-background {
    border-color: #3f3f3f;
    background-color: #050505;
  }
}
