<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Car Booking</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button class="blinking_button" (click)="home()">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
    </ion-buttons>
    </ion-navbar>


</ion-header>

<ion-content >
  <div>
    <img src="assets/imgs/car_banner.jpg" style="height: 125px;width: 100%;">
  </div>
<form [formGroup]="carbook">
  <div class="cl">

      <ion-label class="lbl"> Pickup Location</ion-label>
      <ion-input class="btn" formControlName="pickuploc" name="pickuploc"[(ngModel)]="pickuploc"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('pickuploc').touched && carbook.get('pickuploc').hasError('required')">This field is required</p>
      <ion-label class="lbl"> Drop Location</ion-label>
      <ion-input class="btn" formControlName="droploc" name="droploc"[(ngModel)]="droploc"></ion-input>
       <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('droploc').touched && carbook.get('droploc').hasError('required')">This field is required</p>


        <ion-label class="lbl">Pickup Date</ion-label>
          <ion-row>
            <ion-col col-7>
                <div>
                    <ion-datetime displayFormat="MM/DD/YYYY"class="btn" formControlName="pickupdate" name="pickupdate"placeholder="Date" [(ngModel)]="pickupdate"> </ion-datetime>
                </div>
                     <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('pickupdate').touched && carbook.get('pickupdate').hasError('required')">Date is required</p>
            </ion-col>
            <ion-col col-5>
                <div >
                    <ion-datetime displayFormat="hh:mm:ss"class="btn" placeholder="&nbsp;Time"formControlName="pickuptime" name="pickuptime" placeholder="Time"[(ngModel)]="pickuptime"></ion-datetime>
        </div>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('pickuptime').touched && carbook.get('pickuptime').hasError('required')">Time is required</p>
            </ion-col>
          </ion-row>

          <ion-label class="lbl">Drop Date</ion-label>
          <ion-row>
            <ion-col col-7>
                <div>
                    <ion-datetime displayFormat="MM/DD/YYYY"class="btn" formControlName="dropdate" name="dropdate"placeholder="Date" [(ngModel)]="dropdate"> </ion-datetime>
                </div>
                     <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('dropdate').touched && carbook.get('dropdate').hasError('required')">Date is required</p>
            </ion-col>
            <ion-col col-5>
                <div >
                    <ion-datetime displayFormat="hh:mm:ss"class="btn" placeholder="&nbsp;Time"formControlName="droptime" name="droptime" placeholder="Time"[(ngModel)]="droptime"></ion-datetime>
        </div>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('droptime').touched && carbook.get('droptime').hasError('required')">Time is required</p>
            </ion-col>
          </ion-row>





  <div class="thre">
    <ion-label class="lbl"> Number of Passengers</ion-label>

    <ul>
     <li>
        <ion-input class="btn"placeholder="Adult"formControlName="adult" name="adult" [(ngModel)]="adult"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('adult').touched && carbook.get('adult').hasError('required')">This field is required</p>
     </li>
     <li>
        <ion-input class="btn"placeholder="Child"formControlName="child" name="child"[(ngModel)]="child"> </ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('child').touched && carbook.get('child').hasError('required')">This field is required</p>
     </li>
      <li>
        <ion-input class="btn"placeholder="Infant"formControlName="infant" name="infant" [(ngModel)]="infant"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('infant').touched && carbook.get('infant').hasError('required')">This field is required</p>
     </li>
     </ul>
   </div>


  <div>
      <ion-label class="lbl"> Number of Seats</ion-label>
      <ion-input class="btn"formControlName="noofseats" name="noofseats"[(ngModel)]="noofseats"></ion-input>
      <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('noofseats').touched && carbook.get('noofseats').hasError('required')">This field is required</p>
  </div>
  <div>
      <ion-label class="lbl"> Car Type</ion-label>
  </div>
  <div class="card">
    <ul class="abc">
      <li>
        <img src="assets/imgs/car1.png" class="selectEnable" (click)="select(1)" value="1" >
        <h3>Hatchback</h3>
      </li>
      <li>
          <img src="assets/imgs/car2.png" class="selectEnable" (click)="select(2)" value="2">
          <h3>Sedan</h3>
        </li>
        <li>
            <img src="assets/imgs/car3.png"class="selectEnable"(click)="select(3)" value="3">
            <h3>Suv</h3>
          </li>
          <li>
              <img src="assets/imgs/car4.png"class="selectEnable"(click)="select(4)" value="4" >
              <h3>Luxury</h3>
            </li>


    </ul>


  </div>
</div>
</form>
</ion-content>

<ion-footer style="height: 50px; background: #ffffff00; display: block;">
    <button ion-button full  class="carbbtn" (click)="check()">
      <p style="text-align: center;">Book Now</p>
    </button>
</ion-footer>
