<ion-header >

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
        <button class="button button-clear  ion-arrow-left-c  " ></button>
      </button>
      <ion-title>
        <span ion-text class="fw700">CAR BOOKING</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content >
  <div>
    <img src="assets/imgs/car.jpg" style="height: 125px;width: 100%;">
  </div>
<form [formGroup]="carbook">
  <div class="cl">

      <ion-label class="lbl"> Pickup Location</ion-label>
      <ion-input class="btn" formControlName="finp" name="finp"[(ngModel)]="first"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('finp').touched && carbook.get('finp').hasError('required')">This field is required</p>
      <ion-label class="lbl"> Drop Location</ion-label>
      <ion-input class="btn" formControlName="sinp" name="sinp"[(ngModel)]="secon"></ion-input>
       <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('sinp').touched && carbook.get('sinp').hasError('required')">This field is required</p>


        <ion-label class="lbl">Pickup Date</ion-label>
          <ion-row>
            <ion-col col-7>
                <div>
                    <ion-datetime displayFormat="MM/DD/YYYY"class="btn" formControlName="date" name="date"placeholder="Date" [(ngModel)]="date1"> </ion-datetime>
                </div>
                     <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('date').touched && carbook.get('date').hasError('required')">Date is required</p>
            </ion-col>
            <ion-col col-5>
                <div >
                    <ion-datetime displayFormat="hh:mm:ss"class="btn" placeholder="&nbsp;Time"formControlName="time" name="time"placeholder="time"[(ngModel)]="seven"></ion-datetime>
        </div>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('time').touched && carbook.get('time').hasError('required')">Time is required</p>
            </ion-col>
          </ion-row>





  <div class="thre">
    <ion-label class="lbl"> Number of Passengers</ion-label>

    <ul>
     <li>
        <ion-input class="btn"placeholder=" Adult"formControlName="tinp" name="tinp" [(ngModel)]="third"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('tinp').touched && carbook.get('tinp').hasError('required')">This field is required</p>
     </li>
     <li>
        <ion-input class="btn"placeholder="Child"formControlName="foinp" name="foinp"[(ngModel)]="fourt"> </ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('foinp').touched && carbook.get('foinp').hasError('required')">This field is required</p>
     </li>
      <li>
        <ion-input class="btn"placeholder="Infant"formControlName="fiinp" name="fiinp" [(ngModel)]="fifth"></ion-input>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('fiinp').touched && carbook.get('fiinp').hasError('required')">This field is required</p>
     </li>
     </ul>
   </div>


  <div>
      <ion-label class="lbl"> Number of Seats</ion-label>
      <ion-input class="btn"formControlName="siinp" name="siinp"[(ngModel)]="sixth"></ion-input>
      <p ion-text color="danger" class="text-12x has-error" *ngIf="carbook.get('siinp').touched && carbook.get('siinp').hasError('required')">This field is required</p>
  </div>
  <div>
      <ion-label class="lbl"> car type</ion-label>
  </div>
  <div class="card">
    <ul class="abc">
      <li>
        <img src="assets/imgs/car.jpg" class="selectEnable" (click)="select(1)" value="1" >
        <h3>Hatchback</h3>
      </li>
      <li>
          <img src="assets/imgs/car.jpg" class="selectEnable" (click)="select(2)" value="2">
          <h3>Hatchback</h3>
        </li>
        <li>
            <img src="assets/imgs/car.jpg"class="selectEnable"(click)="select(3)" value="3">
            <h3>Hatchback</h3>
          </li>
          <li>
              <img src="assets/imgs/car.jpg"class="selectEnable"(click)="select(4)" value="4" >
              <h3>Hatchback</h3>
            </li>


    </ul>
   <div class="carbbtn">
      <button (click)="check()">book now</button>
  </div>
  </div>
</div>
</form>
</ion-content>
