<ion-split-pane when="lg">
  	<ion-menu side="left" id="authenticated" [content]="content" class="menu-bg">
        <ion-header>
            <ion-toolbar class="user-profile">

              <div class="user-profile">
                <ion-list no-margin>
                  <ion-item>

                    <ion-avatar item-left *ngIf="!login_status">
                      <img src="assets/imgs/profile.png">
                    </ion-avatar>
                    <ion-avatar item-left *ngIf="login_status">
                      <img src="{{user_img}}">
                    </ion-avatar>
                    <ion-avatar item-right *ngIf="login_status">
                        <button  ion-button icon-left round color="skyblack" class="logoutbtn" menuClose (click)="logout(homeItem)">
                            <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
                            <span ion-text color="skyblue" class="fw500">Logout</span>
                          </button>
                      </ion-avatar>

                      <ion-avatar item-right *ngIf="!login_status">
                        <button  ion-button icon-left round color="skyblack" class="logoutbtn" menuClose (click)="openPage(signinItem)">
                            <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
                            <span ion-text color="skyblue" class="fw500">Login</span>
                          </button>
                      </ion-avatar>
                    <h2 ion-text *ngIf="login_status" class="fw700 text-15x"  color="skyblue">
                      {{username}}
                    </h2>
                    <h2  *ngIf="!login_status"ion-text class="fw700 text-15x"  color="skyblue">
                     Hi, Guest
                    </h2>
                    <button *ngIf="login_status"  ion-button icon-left round color="light"  menuClose (click)="openPage(accountMenuItems)">
                      <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
                      Edit Profile
                    </button>

                  </ion-item>
                </ion-list>
              </div>

            </ion-toolbar>
          </ion-header>
          <ion-content color="searchbg" class="profile-bg">

              <ion-list class="user-list"  >
                  <!-- <ion-list-header no-margin color="searchbg">
                    <span ion-text color="font" class="fw500">Search</span>
                  </ion-list-header> -->
                  <button  menuClose ion-item *ngFor="let menuItem of searchMenuItems" (click)="openPage(menuItem)">
                    <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                    {{menuItem.title}}
                  </button>
                </ion-list>


              <ion-list class="user-list">
                <button menuClose ion-item *ngFor="let menuItem of nearbyplacesItem" (click)="openPage(menuItem)">
                  <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                  {{menuItem.title}}
                </button>
              </ion-list>


              <ion-list class="user-list">
                <button menuClose ion-item *ngFor="let menuItem of converterItem" (click)="openPage(menuItem)">
                  <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                  {{menuItem.title}}
                </button>
              </ion-list>

              <ion-list class="user-list">
                <button menuClose ion-item (click)="openPage(carBooking)">
                    <ion-icon item-left ios="ios-car" md="md-car"></ion-icon>
                  Car Booking
                </button>
              </ion-list>




              <ion-list class="user-list">
                <button menuClose ion-item (click)="openPage(aboutus)">
                  <ion-icon item-left ios="ios-shirt" md="md-shirt"></ion-icon>
                  <span ion-text color="font" class="fw500">Theme</span>
                </button>


                    <!-- <button menuClose ion-item (click)="openPage(scanner)">
                      <ion-icon item-left ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
                      <span ion-text color="font" class="fw500">Passpor Scanner</span>
                    </button> -->

                    <button *ngIf="login_status" menuClose ion-item (click)="openPage(myexperience)">
                        <ion-icon item-left ios="ios-ribbon" md="md-ribbon"></ion-icon>
                        <span ion-text color="font" class="fw500">My Experience</span>
                      </button>
                      <button *ngIf="login_status" menuClose ion-item (click)="openPage(mydocuments)">
                          <ion-icon item-left ios="ios-ribbon" md="md-ribbon"></ion-icon>
                          <span ion-text color="font" class="fw500">My Documents</span>
                        </button>

                    <button menuClose ion-item (click)="openPage(aboutus)">
                          <ion-icon item-left ios="ios-information-circle" md="md-information-circle"></ion-icon>
                          <span ion-text color="font" class="fw500">About Us</span>
                        </button>

                    <button menuClose ion-item (click)="openPage(privacypolicy)">
                            <ion-icon item-left ios="ios-information-circle" md="md-information-circle"></ion-icon>
                            <span ion-text color="font" class="fw500">Privacy Policy</span>
                          </button>

                    <button menuClose ion-item (click)="openPage(emergency_calling)">
                              <ion-icon item-left ios="ios-call" md="md-call"></ion-icon>
                              <span ion-text color="font" class="fw500">Emergency Calling</span>
                            </button>
                    <button menuClose ion-item (click)="openPage(contactUs)">
                      <ion-icon item-left ios="ios-headset" md="md-headset"></ion-icon>
                      <span ion-text color="font" class="fw500">Contact Us</span>
                      <ion-badge color="font">
                        2
                      </ion-badge>
                    </button>
              </ion-list>





            </ion-content>
    </ion-menu>
<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
