<ion-header>

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
          <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
        </button>
      <ion-title>
        <span ion-text class="fw700">Bus Search</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button class="blinking_button" (click)="home()">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
    </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content>
  <form [formGroup]="searchit">
    <div class="all">

        <div class="margi"  >
         <!-- <div style = "position: relative;" >
           <img src="assets/imgs/bus.png" style="height: 30px; width: 30px;position: absolute;top: 0;">
             <ion-label class="dept">Departure</ion-label>
          </div>
 -->



    <div style = "position: relative;">
      <ion-label class="dept">Departure</ion-label>




<div sclass="xzy" (click)="onClickFuntion()">
    <button  style="height: 50px; width: 100%;color: rgb(8, 8, 8);  padding: 6px 55px;
    border-radius: 20px;">
      <p style="text-align: center;">{{departure}}</p>
    </button>

</div>
      <!-- <ion-searchbar
         class="xzy"
         [formControl]="searchControl"
         (ionChange)="onSearchInput()"
         placeholder="Search"
         [showCancelButton]="true"
         [(ngModel)]="departure">
       </ion-searchbar>

       <div *ngIf="searching" class="spinner-container">
         <ion-spinner></ion-spinner>
       </div>

       <ion-list *ngIf="showlist">
         <ion-item *ngFor="let item of items" (click)="selectdeparture(item)">
           {{ item.NAME }}
         </ion-item>
       </ion-list> -->
    </div>

        </div>
    <div class="margi"  >
        <!-- <div style = "position: relative;" >
            <img src="assets/imgs/bus.png" style="height: 30px; width: 30px;position: absolute;top: 0;">
            <ion-label class="dept">Destination</ion-label>
        </div> -->

      <div style = "position: relative;">
        <ion-label class="dept">Destination</ion-label>
        <div sclass="xzy" (click)="onClickFuntion2()">
          <button  style="height: 50px; width: 100%;color: rgb(8, 8, 8);  padding: 6px 55px;
          border-radius: 20px;">
            <p style="text-align: center;">{{destination}}</p>
          </button>

      </div>
          <!-- <ion-searchbar
          class="xzy"
          [formControl]="searchControlnew"
          (ionChange)="onSearchInput2()"
          placeholder="Search"
          [showCancelButton]="true"
          [(ngModel)]="destination">
        </ion-searchbar>

        <div *ngIf="searching1" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div>

        <ion-list *ngIf="showlist2">
          <ion-item *ngFor="let item of items2" (click)="selectdestination(item)">
            {{ item.NAME }}
          </ion-item>
        </ion-list> -->
      </div>
  </div>
<div class="margi"  >
        <div style = "position: relative;" >
           <!-- <img src="assets/imgs/bus.png" style="height: 30px; width: 30px;position: absolute;top: 0;">
           <ion-label class="dept">Departure Date</ion-label> -->


    <ion-label class="dept">Departure Date</ion-label>

    <ion-item style="margin-top: 2px">
        <ion-datetime displayFormat="DD/MM/YY" placeholder="Select Date" formControlName="tinp" name="tinp"[(ngModel)]="date1"></ion-datetime>

    </ion-item>
    <p ion-text color="danger" class="text-12x has-error" *ngIf="searchit.get('tinp').touched && searchit.get('tinp').hasError('required')">Date is required</p>
  </div>
</div>
</div>
</form>

<ion-scroll style="width:100%;height:100%;" scrollY="true">
    <div >
    <ion-row style="background: white; margin-top: 2px;margin-bottom:2px;" *ngFor="let item of bus_onwardflights">

            <ion-card class="cardBody">

                <ion-card-header class="cardHeader">
                  <div class="head1">
                      <p style=" color: white; font-size: 14px; font-weight: bold;">{{item.depdate | date: "yyyy/MM/dd"}}</p>
                      <p style=" color: white; font-size: 14px; font-weight: bold;">{{item.DepartureTime}}</p>

                  </div>
                  <div class="head2">
                      <p style=" color: white; font-size: 14px; font-weight: bold;">{{item.arrdate | date: "yyyy/MM/dd"}}</p>
                      <p style=" color: white; font-size: 14px; font-weight: bold;">{{item.ArrivalTime}} </p>
                  </div>
                </ion-card-header>
                <ion-row style="font-size:14px; color: #056387;">
                    <ion-col col-4>Origin</ion-col>
                    <ion-col col-1>:</ion-col>
                    <ion-col col-7>{{item.origin}}</ion-col>
                  </ion-row>
                  <ion-row style="font-size:14px; color: #056387;">
                      <ion-col col-4>Destination</ion-col>
                      <ion-col col-1>:</ion-col>
                      <ion-col col-7>{{item.destination}}</ion-col>
                    </ion-row>
                    <ion-row style="font-size:14px; color: #056387;">
                        <ion-col col-4>Bus Routes</ion-col>
                        <ion-col col-1>:</ion-col>
                        <ion-col col-7><p>{{item.busRoutes}}</p></ion-col>
                      </ion-row>
                    <ion-row style="font-size:14px; color: #056387;">
                        <ion-col col-4>Fare</ion-col>
                        <ion-col col-1>:</ion-col>
                        <ion-col col-7>{{item.RouteSeatTypeDetail.list[0].SellFare}}</ion-col>
                      </ion-row>
                      <ion-row style="font-size:14px; color: #056387;">
                          <ion-col col-4>Travels</ion-col>
                          <ion-col col-1>:</ion-col>
                          <ion-col col-7>{{item.TravelsName}}</ion-col>
                        </ion-row>
                        <ion-row style="font-size:14px; color: #056387;">
                            <ion-col col-4>Bus Type</ion-col>
                            <ion-col col-1>:</ion-col>
                            <ion-col col-7>{{item.busCondition}}</ion-col>
                          </ion-row>
                          <ion-row style="font-size:14px; color: #056387;">
                              <ion-col col-4>SeatsAvailable</ion-col>
                              <ion-col col-1>:</ion-col>
                              <ion-col col-7>{{item.RouteSeatTypeDetail.list[0].SeatsAvailable}}</ion-col>
                            </ion-row>

                <ion-card-content>


                </ion-card-content>

              </ion-card>

    </ion-row>
    </div>
  </ion-scroll>

</ion-content>

<ion-footer style="height: 50px; background:  #0e6262" (click)="SaveRequest()">
    <ion-toolbar position="bottom">
      <button ion-button full  style="height: 50px; background: #0e6262; color: white;">
        <p style="text-align: center;">Search</p>
      </button>

    </ion-toolbar>
    </ion-footer>
