<ion-header >

  <ion-navbar color="searchbg">
      <button ion-button menuToggle>
        <button class="button button-clear  ion-arrow-left-c  " ></button>
      </button>
      <ion-title>
        <span ion-text class="fw700">Book Now</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content style="background: #ffffff">

        <img src="{{package_pkgImg}}" style="height: 140px; width: 100%;">
        <div style="background: white; position: absolute; top: 178px; width: 100%; bottom: 0px; border-top-left-radius: 15px; border-top-right-radius: 15px;">


            <ion-row style="margin-top: 10px;">
                <ion-col col-7>
                  <p style="margin-left: 11px; font-weight: bold; font-size: 12px;">Spectacular Cochin Tour Package</p>
                </ion-col>
                <ion-col col-5>
                  <div style="border: 1px solid #a61c1d; border-radius: 27px; height: 40px;">
                    <p style="color: #a61c1d; font-weight: bold; padding-top: -10x; margin-top: 11px; text-align: center; font-size: 15px;">{{package_duration}}</p>
                  </div>
                </ion-col>
              </ion-row>

              <div style="margin-top: -15px;">
                <p style="margin-left: 17px; color: #615d5d;">Starting from</p>
                <p style="margin-left: 17PX; font-size: 25px; margin-top: -13px; color: #0aae99; font-weight: bold;">{{package_startingPrice}}</p>
                <p style="margin-top: -48px; margin-left: 85px; color: black;">per person no twin sharing</p>
              </div>

              <ion-row style="width: 90%; margin: auto;">
                  <ion-col col-2 *ngIf="package_flight ==='yes'">
                      <div class="divstyle">
                        <ion-icon ios="ios-plane" md="md-plane" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>

                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Flight</p>
                </ion-col>
                <ion-col col-2 *ngIf="package_cab ==='yes'">
                    <div class="divstyle">
                      <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px;">Cab</p>
                </ion-col>
                <ion-col col-2 *ngIf="package_hotel ==='yes'">
                    <div class="divstyle">
                                          <ion-icon ios="ios-home" md="md-home"
                      style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px; ">{{package_hotelRating}}</p>
                </ion-col>
                <ion-col col-2 *ngIf="package_meal ==='yes'">
                    <div class="divstyle">
                                          <ion-icon ios="ios-pizza" md="md-pizza"
                      style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px;">Meals</p>
                </ion-col>
                <ion-col col-2 *ngIf="package_sightSeeing ==='yes'">
                    <div class="divstyle">
                                          <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12); margin-top: 15px;"></ion-icon>
                      </div>
                      <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Sight Seeing</p>
                </ion-col>
                <ion-col col-2 *ngIf="package_other ==='yes'">
                    <div class="divstyle">
                                        <ion-icon ios="ios-car" md="md-car" style="color: rgb(12, 12, 12);  margin-top: 15px;"></ion-icon>
                    </div>
                    <p style="font-size: 11px; text-align: center; margin-top: 2px; ">Other</p>
              </ion-col>
                </ion-row>

              <label style="margin-left: 4%; font-size: 18px; color: #4f8894;">Departure City</label>
              <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                  <ion-input type="text" style="margin-left: 10px;" [(ngModel)]="book_city"></ion-input>
              </div>

              <p style="margin-left: 4%; font-size: 18px; color: #4f8894;">Passengers</p>

              <ion-row style="margin-top: -23px;">
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-input type="text" placeholder="Adult" style="margin-left: 10px;" [(ngModel)]="book_adult"></ion-input>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-input placeholder="Child" type="text" style="margin-left: 10px;" [(ngModel)]="book_child"></ion-input>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-input placeholder="Infant" type="text" style="margin-left: 10px;" [(ngModel)]="book_infant"></ion-input>
                    </div>
                </ion-col>
              </ion-row>


              <p style="margin-left: 4%; font-size: 18px; color: #4f8894;">Days & Date</p>

              <ion-row style="margin-top: -23px;">
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-datetime placeholder="Start Date" displayFormat="MM/DD/YYYY" [(ngModel)]="book_startdate"></ion-datetime>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-datetime placeholder="End Date" displayFormat="MM/DD/YYYY" [(ngModel)]="book_enddate"></ion-datetime>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: 10px;">
                        <ion-input placeholder="Total days" type="number" style="margin-left: 10px;" [(ngModel)]="book_days"></ion-input>
                    </div>
                </ion-col>
              </ion-row>

              <p style="margin-left: 4%; font-size: 18px; color: #4f8894;">Email</p>
              <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: -10px;">
                  <ion-input type="text" style="margin-left: 10px;" [(ngModel)]="book_email"></ion-input>
              </div>

              <p style="margin-left: 4%; font-size: 18px; color: #4f8894;">Phone</p>
              <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: -10px;">
                  <ion-input type="number" style="margin-left: 10px;" [(ngModel)]="book_phone"></ion-input>
              </div>

              <p style="margin-left: 4%; font-size: 18px; color: #4f8894;">Price</p>
              <div style="background: #efeff1; border-radius: 20px; display: block; width: 95%; margin-left: auto; margin-right: auto; margin-top: -10px;">
                  <ion-input type="text" style="margin-left: 10px;" [(ngModel)]="book_price"></ion-input>
              </div>


              <div style="background-image: linear-gradient(#0a989a, #075a5a); height: 50px; width: 100%; border-top-left-radius: 15px; border-top-right-radius: 15px;" (click)="book_submit()">
                  <p style="color: white; text-align: center; padding-top: 17px;">SUBMIT</p>
              </div>

        </div>
    <!-- </ion-scroll> -->

  </ion-content>
