<ion-header >

  <ion-navbar color="searchbg">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
      <ion-title>
        <span ion-text class="fw700">Contact Us</span>
      </ion-title>
    </ion-navbar>


</ion-header>

<ion-content padding class="profiles">

<!-- This is for apiRTC-->
    <!-- <ion-list>

        <ion-item>
          <ion-input type="text" value=""  placeholder="Enter destination ID"  [(ngModel)]="distantNumber"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button full large (click)="pushCall($event)" [ngStyle]="{'background-color': buttonColor}">{{buttonLabel}}</button>
        </ion-item>

      </ion-list>

      <div>
        <div style="text-align: center">{{infoLabel}}</div>
        <div id="remote" style="width:100%;"></div>
        <div id="mini"></div>
      </div> -->

      <!-- This is for apiRTC-->


    <div class="list-form">
      <div class="all-frm">
        <div text-center>
            <h4>Contact Us</h4>
        </div>
        <form [formGroup]="onContactForm">

            <div class="frmone">
                <ion-input type="text" formControlName="name" name="name" placeholder="Name" [(ngModel)]="user_name"></ion-input>
                <p ion-text color="danger" class="text-12x has-error" *ngIf="onContactForm.get('name').touched && onContactForm.get('name').hasError('required')">This field is required</p>

              </div>

          <div class="frmone">
          <ion-input type="email" formControlName="email" name="email" placeholder="Email" [(ngModel)]="user_email"></ion-input>
          <p ion-text color="danger" class="text-12x has-error" *ngIf="onContactForm.get('email').touched && onContactForm.get('email').hasError('required')">This field is required</p>
          <p ion-text color="danger" class="text-12x has-error" *ngIf="onContactForm.get('email').touched && onContactForm.get('email').hasError('pattern')">Email address invalid</p>

          </div>
          <div class="frmone">
              <ion-input type="number" formControlName="phone" name="phone" placeholder="Phone No" [(ngModel)]="user_phone"></ion-input>
              <p ion-text color="danger" class="text-12x has-error" *ngIf="onContactForm.get('phone').touched && onContactForm.get('phone').hasError('required')">This field is required</p>

            </div>

          <div class="frmone">
              <ion-textarea  rows="6" cols="10"  type="text" formControlName="message" name="message" placeholder="Message" [(ngModel)]="user_message"></ion-textarea>
              <p ion-text color="danger" class="text-12x has-error" *ngIf="onContactForm.get('message').touched && onContactForm.get('message').hasError('required')">This field is required</p>

            </div>

              <button class="login-btn" ion-button (click) = "submit()" [disabled]="!onContactForm.valid">
                  Submit
                </button>
                <button class="login-btn" ion-button (click) = "callnow()">
                    Call Now
                  </button>
        </form>
        </div>
    </div>

    </ion-content>
