<ion-content>

  <img src="assets/imgs/lake_como.png" class="topImg">

  <div class="searchDiv1">
     <div class="searchDiv2">
        <ion-row style="height: 30px;">
            <ion-col col-10 class="col10">
              <ion-input  placeholder="search here..." class="ionInput"></ion-input>
            </ion-col>
            <ion-col col-2 class="col2">
              <ion-icon ios="ios-search" md="md-search" class="ionIcon"></ion-icon>
            </ion-col>
          </ion-row>
     </div>
  </div>

  <div class="expDiv">

    <div class="expiDiv">
      <p style="text-align: center; padding-top: 4px;">Experiances People Love</p>
    </div>

    <ion-scroll scrollX="true" style="width:100%; height:130px; margin-top: 10px;" >
      <ion-row nowrap>
        <div *ngFor="let data of listArray; let idx = index" >
            <ion-card style="width: 150px; border-radius: 10px;" (click)="go()">
                <ion-card-content style="padding: 0px 0px;">
                    <img src="assets/imgs/lake_como.png" style="width: 150px;">
                    <div>
                       <p style="color: #000000; height: 30px; text-align: center; padding-top: 6px; height: 30px;">{{data.name}}</p>
                    </div>
                </ion-card-content>
              </ion-card>
        </div>
      </ion-row>
    </ion-scroll>
  </div>

  <div style="margin-top: 160px;">
      <img src="assets/imgs/lake_como.png" style="width: 100%;">

      <ion-scroll scrollX="true" style="width:100%; height:160px; margin-top: -82px;;" >
          <ion-row nowrap>
            <div *ngFor="let data of listArray; let idx = index" >
                <ion-card style="width: 150px; border-radius: 10px;" (click)="go()">
                    <ion-card-content style="padding: 0px 0px;">
                        <img src="assets/imgs/lake_como.png" style="width: 150px;">
                        <div>
                           <p style="color: #000000; height: 30px; margin-left: 10px;; padding-top: 4px; height: 20px;">{{data.name}}</p>
                           <p style="color: #000000; height: 30px; position: absolute; margin-left: 10px;; padding-top: 4px;">Starting</p>
                           <p style="color: #ff0000; height: 30px; text-align: center; padding-top: 6px; margin-left: 11px;">$100</p>
                        </div>
                    </ion-card-content>
                  </ion-card>
            </div>
          </ion-row>
        </ion-scroll>
  </div>


  <div class="expDiv" style="margin-top: 440px;">

      <div class="expiDiv">
        <p style="text-align: center; padding-top: 4px;">Top Honeymoon Destinations</p>
      </div>

      <ion-scroll scrollX="true" style="width:100%; height:130px; margin-top: 10px;" >
        <ion-row nowrap>
          <div *ngFor="let data of listArray; let idx = index" >
              <ion-card style="width: 150px; border-radius: 10px;" (click)="go()">
                  <ion-card-content style="padding: 0px 0px;">
                      <img src="assets/imgs/lake_como.png" style="width: 150px;">
                      <div>
                         <p style="color: #000000; height: 30px; text-align: center; padding-top: 4px;">{{data.name}}</p>
                      </div>
                  </ion-card-content>
                </ion-card>
          </div>
        </ion-row>
      </ion-scroll>
    </div>

    <div style="height: 30px; background: orange; color: white; margin-top: 212px; width: 150px; display: block; margin-left: auto; margin-right: auto; border-radius: 24px;">
      <p style="text-align: center; padding-top: 6px;">View More</p>
    </div>

    <div style="height: 50px; background: #0e6262; color: white; margin-top: 25px;">
        <p style="text-align: center; padding-top: 11px;">PLAN MY HOLIDAY</p>
      </div>


</ion-content>
