<ion-header >

  <ion-navbar color="searchbg">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
      <ion-title>
        <span ion-text class="fw700">Nearby Restaurant</span>
      </ion-title>
      <ion-buttons end>
        <button ion-button class="blinking_button" (click)="home()">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </button>
    </ion-buttons>
    </ion-navbar>


</ion-header>

<ion-content>
<div #map id="map"></div>


<!-- <ion-item>
<ion-label>Select Place</ion-label>
  <ion-select [(ngModel)]="isType" (ionChange)="nearbyPlace()">
  <ion-option value="">Select</ion-option>
      <ion-option value="hospital">Hospital</ion-option>
      <ion-option value="restaurant">Restaurant</ion-option>
      <ion-option value="bank">Bank</ion-option>
      <ion-option value="airport">Airport</ion-option>
      <ion-option value="library">Library</ion-option>
      <ion-option value="gym">Gym</ion-option>
    <ion-option value="atm">Atm</ion-option>
    <ion-option value="shopping_mall">Shopping Mall</ion-option>
    <ion-option value="police">Police Station</ion-option>
    <ion-option value="zoo">Zoo</ion-option>
  </ion-select>
</ion-item> -->

<!-- <ion-item>
 <ion-label>Select Distance</ion-label>
  <ion-select [(ngModel)]="isKM" (ionChange)="nearbyPlace()">
  <ion-option value="500">Select</ion-option>
      <ion-option value="2000">2 KM</ion-option>
      <ion-option value="4000">4 KM</ion-option>
      <ion-option value="6000">6 KM</ion-option>
      <ion-option value="8000">8 KM</ion-option>
  </ion-select>
</ion-item> -->



<ion-content style="background: #d6d6d6">

    <div *ngFor="let data of arraySource">
    <ion-row style="background: white; margin-bottom: 5px;">
    <ion-col col-6 style="height: 130px;">
        <img src="{{data.photo}}" class="img">
        </ion-col>
    <ion-col col-6 style="height: 130px; position: relative;">
        <div *ngIf="data.rating"><p class="rat">{{data.rating}}</p>
            </div>
        <p class="bname">{{data.name}}</p>
       <!-- <p style="margin-top: -6px; font-size: 10px;">{{data.loc}}</p> -->

       <div (click)="f1(data)" class="btndir">
        <ion-icon ios="ios-call" md="md-call"
        style="height: 16px;
       width: 16px;
       margin-left: 10px;
       margin-top: 5px;"></ion-icon>
       </div>

    



    </ion-col>
    </ion-row>
    </div>

    </ion-content>


</ion-content>
