<ion-content padding class="profiles">

    <div class="list-form">
      <div class="all-frm">
        <div text-center>
            <h4>Update Password</h4>
        </div>

        <form [formGroup]="onForgotForm">

            <div class="frmone">
              <ion-input disabled="true" type="email" formControlName="email" name="email" placeholder="E-mail or Phone No" [(ngModel)]="user_email_or_phone"></ion-input>
              <p ion-text color="danger" class="text-12x has-error" *ngIf="onForgotForm.get('email').touched && onForgotForm.get('email').hasError('required')">This field is required</p>
              <!-- <p ion-text color="danger" class="text-12x has-error" *ngIf="onForgotForm.get('email').touched && onForgotForm.get('email').hasError('pattern')">Email address invalid</p> -->
            </div>

            <div class="frmone">
                <ion-input type="text" formControlName="otp" name="otp" placeholder="otp" [(ngModel)]="user_otp"></ion-input>
                <p ion-text color="danger" class="text-12x has-error" *ngIf="onForgotForm.get('otp').touched && onForgotForm.get('otp').hasError('required')">This field is required</p>

              </div>

            <div class="frmone">
                <ion-input type="password" formControlName="password" name="password" placeholder="Password" [(ngModel)]="user_password"></ion-input>
                <p ion-text color="danger" class="text-12x has-error" *ngIf="onForgotForm.get('password').touched && onForgotForm.get('password').hasError('required')">This field is required</p>

              </div>

              <div class="frmone">
                <ion-input type="password" formControlName="confirmPass" name="confirmPass" placeholder="Confirm Password" [(ngModel)]="user_con_password"></ion-input>
                <p ion-text color="danger" class="text-12x has-error" *ngIf="onForgotForm.get('confirmPass').touched && onForgotForm.get('confirmPass').hasError('required')">This field is required</p>
              </div>

            <button class="login-btn" ion-button (click) = "updatePassword()" [disabled]="!onForgotForm.valid">
                Submit
            </button>

        </form>

        <div class="social">

             <button (click) = "backtosign()">
                Back to <a>Sigin In</a>
             </button>

        </div>
        </div>
    </div>

    </ion-content>
